In [2]:
import os
import pandas as pd
import numpy as np
import pycountry as pc

In [13]:
#!pip install pycountry

In [14]:
df = pd.read_csv("Terrorism_copy_globe.csv",delimiter=";")
df.sample()

,eventid,iyear,country,country_txt,region,region_txt,latitude,longitude,nkill
45102,"1,99101E+11",1991,218,Uruguay,3,South America,"-34,891151","-56,187214",0.0

In [15]:
#A choice had to be made: Czechoslovakia split up in parts. As Tsjechie is larger than Slovakia, I will set it to CZE
#Another choice: Yugoslavia. I opted to assign it to Serbia. If someone does not agree let me know
Problematic_countries = {u"West Germany (FRG)":u"DEU", u"East Germany (GDR)":u"DEU", u"Venezuela":"VEN",u"Democratic Republic of the Congo":u"COD", u"West Bank and Gaza Strip":u"PSE", u"Russia":u"RUS",u"Syria":u"SYR", u"Iran":u"IRN", u"Bolivia":u"BOL", u"South Yemen":u"YEM", u"North Yemen":u"YEM", u"Taiwan":u"TWN",u"Brunei":u"BRN", u"Czechoslovakia":u"CZE", u"Zaire":u"COD", u"South Vietnam":u"VNM",u"People's Republic of the Congo":u"COG", u"Yugoslavia":u"SVK",u"Rhodesia":u"ZWE",u"South Korea":u"KOR",u"Tanzania":u"TZA", u"Vatican City":u"VAT",u"Soviet Union":u"RUS",u"New Hebrides":u"VUT", u"Swaziland":u"SWZ", u"Laos":u"LAO",u"Republic of the Congo":u"COG",u"Falkland Islands":u"FLK",u"Ivory Coast":u"CIV", u"Moldova":u"MDA", u"Bosnia-Herzegovina":u"BIH",u"Vietnam":u"VNM", u"Slovak Republic":u"SVK", u"Macedonia":u"MKD", u"Czech Republic":u"CZE", u"North Korea":u"PRK", u"Macau": u"MAC", u"Kosovo":u"XKX",u"St. Kitts and Nevis":u"KNA", u"East Timor":u"TLS",u"St. Lucia":u"LCA",u"Serbia-Montenegro":u"SRB", u"International":u"INTRN"}

def CCGrabber(x):
    #First, we deal with the problematic ones
    if x in Problematic_countries:
        return Problematic_countries[x]
    else:
        try:
            return pc.countries.get(name=x).alpha_3
        except:
            print(x) #Consider the names printed here, and look at the corresponding name in the word.json file
            return x[3]

df["CountryCode"] = df.country_txt.apply(lambda x: CCGrabber(x),1)

In [16]:
df.head(50)

,eventid,iyear,country,country_txt,region,region_txt,latitude,longitude,nkill,CountryCode
0,"1,97E+11",1970,58,Dominican Republic,2,Central America & Caribbean,"18,456792","-69,951164",1.0,DOM
1,"1,97E+11",1970,130,Mexico,1,North America,"19,371887","-99,086624",0.0,MEX
2,"1,97001E+11",1970,160,Philippines,5,Southeast Asia,"15,478598","120,599741",1.0,PHL
3,"1,97001E+11",1970,78,Greece,8,Western Europe,"37,99749","23,762728",NaN,GRC
4,"1,97001E+11",1970,101,Japan,4,East Asia,"33,580412","130,396361",NaN,JPN
5,"1,97001E+11",1970,217,United States,1,North America,"37,005105","-89,176269",0.0,USA
6,"1,97001E+11",1970,218,Uruguay,3,South America,"-34,891151","-56,187214",0.0,URY
7,"1,97001E+11",1970,217,United States,1,North America,"37,791927","-122,225906",0.0,USA
8,"1,97001E+11",1970,217,United States,1,North America,"43,076592","-89,412488",0.0,USA
9,"1,97001E+11",1970,217,United States,1,North America,"43,07295","-89,386694",0.0,USA
10,"1,97001E+11",1970,217,United States,1,North America,"43,4685","-89,744299",0.0,USA
11,"1,97001E+11",1970,217,United States,1,North America,"39,758968","-104,876305",0.0,USA
12,"1,97001E+11",1970,98,Italy,8,Western Europe,"41,890961","12,490069",0.0,ITA
13,"1,97001E+11",1970,217,United States,1,North America,"42,331685","-83,047924",0.0,USA
14,"1,97001E+11",1970,217,United States,1,North America,"18,386932","-66,061127",0.0,USA
15,"1,97001E+11",1970,499,East Germany (GDR),9,Eastern Europe,"52,50153","13,401851",NaN,DEU
16,"1,97001E+11",1970,65,Ethiopia,11,Sub-Saharan Africa,NaN,NaN,1.0,ETH
17,"1,97001E+11",1970,217,United States,1,North America,"40,697132","-73,931351",0.0,USA
18,"1,97001E+11",1970,217,United States,1,North America,"18,379998","-65,830948",0.0,USA
19,"1,97001E+11",1970,217,United States,1,North America,"47,610786","-122,331306",0.0,USA
20,"1,97001E+11",1970,217,United States,1,North America,"40,116748","-88,23927",0.0,USA
21,"1,97001E+11",1970,218,Uruguay,3,South America,"-34,891151","-56,187214",0.0,URY
22,"1,97001E+11",1970,217,United States,1,North America,"47,610786","-122,331306",0.0,USA
23,"1,97001E+11",1970,217,United States,1,North America,"47,610786","-122,331306",0.0,USA
24,"1,97001E+11",1970,217,United States,1,North America,"40,717892","-74,067467",0.0,USA
25,"1,97001E+11",1970,83,Guatemala,2,Central America & Caribbean,"14,622869","-90,529068",1.0,GTM
26,"1,97001E+11",1970,160,Philippines,5,Southeast Asia,"14,67428","121,057495",0.0,PHL
27,"1,97001E+11",1970,222,Venezuela,3,South America,"10,482834","-66,962128",0.0,VEN
28,"1,97001E+11",1970,217,United States,1,North America,"42,47031","-96,413949",0.0,USA
29,"1,97001E+11",1970,217,United States,1,North America,"33,60651","-88,650419",0.0,USA
30,"1,97001E+11",1970,217,United States,1,North America,"40,697132","-73,931351",0.0,USA
31,"1,97001E+11",1970,217,United States,1,North America,"33,60651","-88,650419",0.0,USA
32,"1,97001E+11",1970,217,United States,1,North America,"40,697132","-73,931351",0.0,USA
33,"1,97001E+11",1970,217,United States,1,North America,"41,241996","-82,615241",0.0,USA
34,"1,97001E+11",1970,499,East Germany (GDR),9,Eastern Europe,"52,50153","13,401851",NaN,DEU
35,"1,97001E+11",1970,217,United States,1,North America,"47,610786","-122,331306",0.0,USA
36,"1,97001E+11",1970,217,United States,1,North America,"42,479999","-96,413046",0.0,USA
37,"1,97001E+11",1970,217,United States,1,North America,"42,46634","-96,41405",0.0,USA
38,"1,97001E+11",1970,217,United States,1,North America,"25,720851","-80,277857",0.0,USA
39,"1,97001E+11",1970,160,Philippines,5,Southeast Asia,"15,675051","120,331618",0.0,PHL
40,"1,97001E+11",1970,217,United States,1,North America,"39,758968","-104,876305",0.0,USA
41,"1,97002E+11",1970,217,United States,1,North America,"45,511795","-122,675629",0.0,USA
42,"1,97002E+11",1970,217,United States,1,North America,"37,005105","-89,176269",0.0,USA
43,"1,97002E+11",1970,217,United States,1,North America,"40,697132","-73,931351",0.0,USA
44,"1,97002E+11",1970,217,United States,1,North America,"40,697132","-73,931351",0.0,USA
45,"1,97002E+11",1970,217,United States,1,North America,"40,697132","-73,931351",0.0,USA
46,"1,97002E+11",1970,217,United States,1,North America,"41,084195","-81,514059",0.0,USA
47,"1,97002E+11",1970,217,United States,1,North America,"39,758968","-104,876305",0.0,USA
48,"1,97002E+11",1970,217,United States,1,North America,"47,610786","-122,331306",0.0,USA
49,"1,97002E+11",1970,217,United States,1,North America,"47,610786","-122,331306",0.0,USA

In [17]:
df.to_csv('Globe_data_Country_code', encoding='utf-8', index=False)

In [18]:
#We now procceed by making data sets with the desired properties
#We will always split by year (for the slider) and by country (for obvious reasons)

amount_of_deaths = df.groupby(["CountryCode", "iyear"])["nkill"].sum()
amount_of_attacks = df.groupby(["CountryCode","iyear"])["eventid"].count()
## Change from a groupby object into a dataframe we can work with
amount_of_deaths =amount_of_deaths.reset_index()
amount_of_attacks = amount_of_attacks.reset_index()

In [19]:
#Now, we add them together!
df_for_globe = pd.merge(amount_of_deaths,amount_of_attacks,on=["CountryCode","iyear"])
df_for_globe = df_for_globe.rename({"eventid":"nattacks"},axis="columns")

In [1]:
df_for_globe.to_csv('GlobeData.csv', encoding='utf-8', index=False)

NameError: name 'df_for_globe' is not defined

In [6]:
pc.countries.get(name="Germany").alpha_3

'DEU'